body{
  background-color:darkgray;
}

#container {
  display: inline-block;
  border:1px solid black;
  background-color: ghostwhite;
  width: 400px;
  margin: auto;
}

div {
  margin-bottom: 20px;
}

label {
  width:120px;
}
